@inherits LayoutComponentBase
<div class="container-fluid px-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">NugAlert 0.5</a>
        <div id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">About</a>
                </li>
            </ul>
        </div>
    </nav>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="content col col-md-9 col-sm-12 p-4 bg-light">
            @Body
        </div>
    </div>
    
</div>